/*  begin--最左边内容顶部 */
.content_left_top_notice{
	width: 690px;
    height: 50px;
    background:#fff;
}
.content_left_top_notice li{
	width: 18%;
	line-height: 50px;
	margin-left: 40px;
	text-align: center;
	color: #5c5d5e;
	font-size: 14px;
	font-weight: bold;
}
.content_left_top_notice li:hover{
	color: #51a47a;
	border-bottom: 2px solid #51a47a;
}
#ul_list .this_select{
	color: #51a47a;
	border-bottom: 2px solid #51a47a;
}
/* 左边消息内容 begin */
#select_box>div{
	width: 690px;
	/*height: 600px;*/
	padding-bottom: 30px;
	background: #fff;
	margin-top: 15px;
	overflow: hidden;
}
/*隐藏选项盒子*/
.hidden_select{
	display: none;
}
#select_box>div h4{
	display: block;
	margin:20px 40px 0px 50px;
	border-bottom: 1px solid #ccc;
    height: 30px;
    padding-left: 20px;

}
#select_box>div ul li{
    padding-bottom: 20px;
	width: 600px;
/* 	line-height: 200px; */
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
	margin:20px 0 0 50px; 
}

.content_info{
	width: 490px;
	float: left;
	margin:30px 0 0 100px;
	position: relative;
}
.content_info>img{
	width: 80px;
	position: absolute;
	left:-100px;
	top:-20px;
	height: 80px;
	border-radius: 50%;
}
.content_info>p{
	color: gray;
	margin-top: 10px;
	line-height: 25px;
}
.content_info>p>a{
	color: #51a47a;
	font-weight: bold;
	margin-right: 10px;
}
.content_info #notice_time{
	font-size: 15px;
	float: right;
	color: #000;
	margin:0px 10px 0 0;
	font-weight: bold;
	margin-right: 10px;
}
/*时钟图标 icon */
.content_info .clock_icon{
	width:20px;
	height:20px;
	float: right;
	margin-right: 20px;
}
.reply_info{
	font-size: 15px;
}

/*关于这个主题的内容 begin*/
.this_topic{
    margin-top: 10px;
	padding:20px;
	background: #F2F2F2;
}
.this_topic>img{
	width:100px;
	height: 100px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	background-size: cover;
}
.this_topic p:first-of-type{
    margin-bottom: 10px;
}
.this_topic_info{
	float: right;
	width:270px;
	padding-top: 10px;
	display: block;
	margin-right: 50px;
	color: gray;
	line-height: 45px;
}
.this_topic_info span{
	color: #000;
	font-size: 24px;
	font-weight: bold;
}
/*关于这个主题的内容 end*/

/*点击回复*/
.click_reply{
	display: block;
	width:50px;
	height:30px;
	line-height:30px;
	text-align: center;
	color: #51a47a;
	margin-left: 89%;
}
.click_reply:hover{
	background: #51a47a;
	color: #fff;
}

/* 左边消息内容 finish */

/*  finish--最左边内容顶部 */